.App
{
    width: 100%;
    text-align: center;
    display: flex;
}
.addBtn
{
    padding: 2vh;
    background-color: aquamarine;
    
    position: sticky;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
